streamlit
langchain==0.1.17
langchain-community==0.0.38
langchain-core==0.1.52
langchain-text-splitters
faiss-cpu
sentence-transformers
pypdf
transformers
torch
torchvision
huggingface-hub
pydantic==1.10.13